%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1 Menus
%section.content
  .card
    .card-header
      %h3.card-title Menus
    .card-body.p-0
      %table.table.table-striped.projects
        %thead
          %tr
            %th{style: 'width: 1%'}
              \#
            %th
              Name
            %th{style: 'width: 10%'}
              Actions
        %tbody
          = render 'menu', menus: @menus