%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1 Orders
  / /.container-fluid


%section.content
  .card
    .card-header
      %h3.card-title Orders
    .card-body.p-0
      %table.table.table-striped.projects
        %thead
          %tr
            %th{:style => "width: 1%"}
              \#
            %th{:style => "width: 20%"}
              Client
            %th{:style => "width: 20%"}
              Order number
            %th{:style => "width: 20%"}
              Order Items
            %th{:style => "width: 10%"}
              Sum
        %tbody
          = render 'order'