#preloader
  #status
    = image_tag("preloader.gif" , size: "64x64", alt: "")
.coming-soon
  .container
    - if current_user
      = current_user.name
      %p
        = link_to 'Выйти', destroy_user_session_path, method: :delete
    - else
      %p
        %a{href: new_user_session_path} Авторизоваться
